<!DOCTYPE html>
<html>
<head>
	<title>	Movie App </title>
	<% include head %>
</head>
<body>

	<% include navbar %>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>上映中</h1>
			</div>
				<% parsedData.forEach((movie)=>{ %>
				<div class="col-sm-12">
					<% movie.known_for.forEach(ele =>{ %>
					<div class="col-md-3 col-sm-4 poster">
						<p><%= ele.title %></p>
						<a href="/movie/<%= ele.id %>"><img src="<%= imgBaseUrl + ele.poster_path %>"></a>
					</div>
					<% }) %>
				</div>	
				<% }) %>
		</div>
	</div>
</body>
</html>